<div class="row" style="padding: 50px">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="row">
      <p class="flow-text">Question, comment or interested in doing business with us? Either way we can't wait to hear from you. Please fill out the form and we will respond to you as quickly as possible.</p>
    </div>
    <div class="row" *ngIf="sending">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              Thank you!
            </span>
            <p>
              We appreciate you taking the time to contact us. We have recieved your message and will respond to you by email as soon as possible.
            </p>
          </div>
        </div>
      </div>
    </div>
    <form class="col s12" (submit)="submit($event)" *ngIf="!sending">
      <div class="row">
        <div class="input-field col s12">
          <md-select placeholder="Contact Reason" name="reason" [(ngModel)]="reason">
            <md-option [value]="'question'">Question</md-option>
            <md-option [value]="'comment'">Comment</md-option>
            <md-option [value]="'complaint'">Complaint</md-option>
            <md-option [value]="'wholesale'">Wholesale</md-option>
          </md-select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input (keyup)="onKey($event, 'name')" id="first_name" type="text" class="validate">
          <label for="first_name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input (keyup)="onKey($event, 'email')" id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="input-field col s12">
            <textarea (keyup)="onKey($event, 'comment')" id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Comment</label>
          </div>
        </div>
      </div>
      <button class="waves-effect waves-light btn blue darken-3" type="submit" style="float: right"><i class="material-icons right">send</i>Send</button>
    </form>
  </div>
</div>