.mat-card {
    margin: 50px 0px;
}

.logoBanner {
    /*position: relative;*/
    /*left: 0;*/
    /*float: right;*/
    height: 250px;
    margin-top: 35px;
    /*bottom: -110px;*/
    /*display: block;*/
}

.mainBanner {
    height: inherit;
    /*align-items: center;
    position: relative;
    display: flex;*/
}

.outline-button {
    border: 2px solid #d38629;
    border-radius: 5px;
    width: 300px;
    display: inline-block;
    height: 100px;
    padding: 14px 0px;
}

.outline-button:hover {
    background-color: #d38629;
}