<!--<nav-bar>-->
<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="row">
    <div class="col s12 offset-s0 m5 offset-m1 center">
      <div class="row">
        <div class="col s12 l6">
          <p class="flow-text white-text hide-on-med-and-down">
            Finally! A solution to the irritating sun in your face when trying to relax outside and tan.
          </p>
        </div>
        <div class="col s12 m12 l6">
          <img src="assets/img/faceshade-blue.png" class="logoBanner" alt="The Face Shade Blue">
        </div>
      </div>
    </div>
    <div class="col s12 m5" style="margin-left: 0px;">
      <div class="row center">
        <h5 class="header col s12 white-text">Get it now on</h5>
      </div>
      <div class="row center">
        <a class="outline-button" target="blank" href="https://www.amazon.com/The-Face-Shade-FS-01-Blue/dp/B00K4QJY7U">
          <img src="assets/img/Amazon-logo.png" style="height: 75px" alt="">       
        </a>
      </div>
    </div>
  </div>
  <div class="parallax" materialize="parallax"><img src="assets/img/sunny-reverse.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="assets/img/fs_suitcase.jpg">
          </div>
          <div class="card-content">
            <span class="card-title">
              <i class="material-icons">airplanemode_active</i>
              Vacation Must Have
            </span>
            <p>
              Any vacation destination would be incomplete without The Face Shade™, made to convienently fit in most suitcases for easy travel.
            </p>
          </div>
        </div>
        <!--<div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">airplanemode_active</i></h2>
          <h5 class="center">Vacation Must Have</h5>
          <p class="light">
            Any vacation destination would be incomplete without The Face Shade™, made to convienently fit in most suitcases for easy travel.
          </p>
        </div>-->
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="assets/img/fs-pool.jpg">
          </div>
          <div class="card-content">
            <span class="card-title">
              <i class="material-icons">verified_user</i>
              Protection & Comfort
            </span>
            <p>
              The Face Shade™ was uniquely designed to cushion your head while also covering it from the sun when you are laying out. The shade is also adjustable so you can decide how much of your face, neck and chest you want covered when you are relaxing in the sun.
            </p>
          </div>
        </div>
        <!--<div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">verified_user</i></h2>
          <h5 class="center">Protection & Comfort</h5>
          <p class="light">
            The Face Shade™ was uniquely designed to cushion your head while also covering it from the sun when you are laying out. The shade is also adjustable so you can decide how much of your face, neck and chest you want covered when you are relaxing in the sun.
          </p>
        </div>-->
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="assets/img/fs-layout.jpg">
          </div>
          <div class="card-content">
            <span class="card-title">
              <i class="material-icons">shopping_basket</i>
              Best Deal Around
            </span>              
            <p>
              Simple, convienent, useful and the best deal you can find around for any similar product.
            </p>
          </div>
        </div>
        <!--<div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">shopping_basket</i></h2>
          <h5 class="center">Best Deal Around</h5>
          <p class="light">
            Simple, convienent, useful and the best deal you can find around for any similar product.
          </p>
        </div>-->
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 white-text">Who hasn't tried to desperately cover their face from the sun with anything they could find? Covering your face with your arms is uncomfortable and won't provide protection. Using a towel or hat can suffocate breathing and prevents you from enjoying the view on your vacation or catching up on some reading.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/img/hatOverFace-blur2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">We are looking to expand and partner with sellers to offer our product in their brick and mortar or online stores. Please Contact Us **TODO add link to page** for future business opportunities.</p>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">
          Why regret your next vacation without The Face Shade™?
          <br/>
          Don't wait buy one today</h5>
        <a href="https://www.amazon.com/The-Face-Shade-FS-01-Blue/dp/B00K4QJY7U" target="blank" id="download-button" class="btn-large waves-effect waves-light amber darken-4">Shop</a>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/img/beach2.jpeg" alt="Unsplashed background img 3"></div>
</div>
<!--<footer-bar>-->